.flight-results {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  max-width: 1024px;
  width: 100%;
  padding-bottom: 2rem;
}

.flight-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  display: flex;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.App {
  max-width: 1248px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.error {
  color: red;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.search-form .MuiTextField-root,
.search-form .MuiAutocomplete-root {
  min-width: 200px;
  flex: 1 1 200px;
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


